name: CI
on:
  push:
    tags:
      - v1.**
jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      -
        name: Get the tag name
        id: get_tag_name
        run: echo "TAG_NAME=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: true
          file: "./Dockerfile"
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          build-args: |
            appVersion=${{ env.TAG_NAME }}
          tags: |
            "ghcr.io/${{ github.repository }}:${{ env.TAG_NAME }}"
            "ghcr.io/${{ github.repository }}:latest"

